section[role="index"]{
	>video{
		position: absolute;
    	top: 50%;
    	left: 50%;
    	min-width: 100%;
    	min-height: 100%;
    	width: auto;
    	height: auto;
    	z-index: -100;
    	transform: translateX(-50%) translateY(-50%);
 		background: url('https://demosthenes.info/assets/images/polina.jpg') no-repeat;
  		background-size: cover;

  		@include responsive(768px, 979px){
  			top: 21%;
  			min-height: 65%;
  		}
	}

	>h1{
		width: 1280px;
  		margin-left: auto;
  		margin-right: auto;
  		text-align:center;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: tada;
		animation-name: tada;

		@include responsive(768px, 979px){
			width: auto;
		}

		>span{
			font-size:160px;
			background: -webkit-linear-gradient(#eee, #056868);
  			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
  			color: #056868;
			
			@include responsive(768px, 979px){
				font-size: 130px;
			}

			&:nth-of-type(1){
				font-family: 'Lobster', cursive;
			}
			&:nth-of-type(2){
				font-family: 'Orbitron', sans-serif;
			}
			&:nth-of-type(3){
				font-family: 'Oswald', sans-serif;
			}
			&:nth-of-type(4){
				font-family: 'Gloria Hallelujah', cursive;
			}
			&:nth-of-type(5){
				font-family: 'Sigmar One', cursive;
			}
			&:nth-of-type(6){
				font-family: 'Kavoon', cursive;
			}
			&:nth-of-type(7){
				font-family: 'Alfa Slab One', cursive;
			}
			&:nth-of-type(8){
				font-family: 'Kavoon', cursive;
			}
		}
	}

	>h2{
		font-family: 'Orbitron', sans-serif;
		font-size:40px;
		color:#056868;
		text-align:center;
		margin-top: -5%;
	}

  >p{
    text-align: center;
    width: 150px;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    color: white;
    top: 82%;
    position: absolute;
    left: 43%;
	
	@include responsive(768px, 979px){
		display: none;
	}

  }
 >a{
  >img{
    width: 100px;
    position: absolute;
    left: 45%;
    top: 88%;

	@include responsive(768px, 979px){
		display: none;
	}
   
    // Animación
    /*-webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: tada;
    animation-name: tada;*/

    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: flash;
    animation-name: flash;
   }
 }
}
