
section[role="quienesSomos"]{
	margin-top:38%;
	font-family: 'Montserrat', sans-serif;


  @include desktop(1025px , 1920px){
    margin-top: 15%;
  }

  #principal{

    width: 100%;
    height: 25em;
    background:#2CA599;
  }
  .seleccion{
    border-top:solid;
    border-bottom:solid;
    }
	.contenedor {
    height: 100%;
    width:100%;
    margin-left: auto;
    margin-right: auto;
  }
  .invisible {
    display:none;
  }
  .cuadro_texto{
      font-size: 22px;
      margin-top:2em;
      margin-left:20px;
      text-align: center;
      display: inline-block;
      width:38%;
      height: 100%;
      vertical-align: top;
        @include desktop(1025px , 1920px){
            font-size: 19px;
               }
        @include movil{
          width:66%;
          margin-left: 0px;
        }


  }

  #iconos_izquierda{
    margin-top:1em;
    height: 100%;
    width: 33%;
    display: inline-block;
    vertical-align: top;
    //float: left;
    i {
        &:nth-of-type(1){
          position:relative;
          left: 27%;
          top: 12%;
        }
        &:nth-of-type(2){
          position:relative;
          left: 57%;
          top: 12%;
        }
        &:nth-of-type(3){
          position:relative;
          left: 25%;
          top: 52%;
        }
    }
    @include movil {
      width: 33%;
      i {
        //transform: scale(0.5,0.5);
        &:nth-of-type(1){
          left:10%;
          top:12%;
        }
        &:nth-of-type(2){
          left:10%;
          top:18%; 
        }
        &:nth-of-type(3){
          left:10%;
          top:24%;
        }
      }
    }
}

  #iconos_derecha{
    margin-top:1em;
    height: 100%;
    width: 30%;
    display:inline-block;
    vertical-align: top;
    float: right;
     i {
        &:nth-of-type(1){
          position:relative;
          left: 27%;
          top: 12%;
        }
        &:nth-of-type(2){
          position:relative;
          left: 57%;
          top: 12%;
        }
        &:nth-of-type(3){
          position:relative;
          left: 25%;
          top: 52%;
        }
      }
     @include movil {
      display:none;
      
      //width: 33%;
      //margin-right: 5px;
      i {

        //transform: scale(0.5,0.5);
        &:nth-of-type(1){
          /*
          position:relative;
          left:10%;
          top:12%;
          */
          //float:left;
        }
        &:nth-of-type(2){
          /*
          position:relative;
          left:10%;
          top:20%; 
          */
          //float:left;
        } 
        &:nth-of-type(3){
          /*
          position:relative;
          left:10%;
          top:28%;
          */
          //float:left;
        }
      }
    }
}
  p {
    height:6em;
    display:block;
    @include movil{
      font-size: 12px;
    }
    @include tablet(641px, 1024px){

    }
  }
  h3 {
    @include movil{
      font-size: 15px;

    }
    @include tablet(641px, 1024px){


    }
  }
}
