
section[role="contacto"]{
font-family: 'Montserrat', sans-serif;

#contacto{
	border: 2px solid;
	border-color:blue;
	width: 40%;
}

#oficina{
	border: 2px solid;
	border-color:blue;
	width: 40%;
}

#horario{
	border: 2px solid;
	border-color:blue;
	width: 40%;
}

}

