section[role="index"]{
	background: url('../img/fondo.jpg');
	background-size:cover;
	>h1{
		width: 1280px;
  		margin-left: auto;
  		margin-right: auto;
  		margin-top: 0px;
  		text-align:center;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: tada;
		animation-name: tada;


		@include desktop(1025px , 1920px){
			width:auto;
  		}


		@include movil{
			width: 80%;

	  	}

		@include tablet(641px, 1024px){
			width: auto;
		}



		>span{
			font-size:160px;
			background: -webkit-linear-gradient(#eee, #056868);
  			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
  			color: #056868;



			@include desktop(1025px , 1920px){
				font-size:180px;
				margin-top: 5%;
  			}


  			@include movil{
				font-size: 80px;
			}
			@include tablet(641px, 1024px){
				font-size: 120px;
			}


			&:nth-of-type(1){
				font-family: 'Lobster', cursive;
			}
			&:nth-of-type(2){
				font-family: 'Orbitron', sans-serif;
			}
			&:nth-of-type(3){
				font-family: 'Oswald', sans-serif;
			}
			&:nth-of-type(4){
				font-family: 'Gloria Hallelujah', cursive;
			}
			&:nth-of-type(5){
				font-family: 'Sigmar One', cursive;
			}
			&:nth-of-type(6){
				font-family: 'Kavoon', cursive;
			}
			&:nth-of-type(7){
				font-family: 'Alfa Slab One', cursive;
			}
			&:nth-of-type(8){
				font-family: 'Kavoon', cursive;
			}
		}
	}

	>h2{
		font-family: 'Orbitron', sans-serif;
		font-size:40px;
		color:white;
		text-align:center;
		margin-top: 4%;



	  	@include desktop(1025px , 1920px){
			font-size:50px;
			margin-top: 5%;
			}
		@include movil{
			font-size:30px;
		}
		@include tablet(641px, 1024px){
			font-size:30px;
		}
	}

  >p{
    text-align: center;
    width: 150px;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    color: white;
    display: block;
	margin-left: auto;
	margin-right: auto;
   	@include movil{
			position:relative;
			top:40%;
			left:35%;
		}
		@include tablet(641px, 1024px){
			display: none;
		}
}


 >a{
  >img{
    width: 75px;
    // Animación
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: flash;
    animation-name: flash;

    margin-left: auto;
	margin-right: auto;
	display: block;

		@include movil{
			position:relative;
			top:45%;
			left:40%;
			transform: scale(0.7,0.7);
		}
		@include tablet(641px, 1024px){
			display: none;
		}

   }

 }

}
