@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


section[role="index"]{
	>video{
		position: absolute;
    	top: 50%;
    	left: 50%;
    	min-width: 100%;
    	min-height: 100%;
    	width: auto;
    	height: auto;
    	z-index: -100;
    	transform: translateX(-50%) translateY(-50%);
 		background: url('https://demosthenes.info/assets/images/polina.jpg') no-repeat;
  		background-size: cover;
	}

	>h1{
		width: 1280px;
  		margin-left: auto;
  		margin-right: auto;
  		text-align:center;		
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: tada;
		animation-name: tada;

		>span{
			font-size:160px;
			background: -webkit-linear-gradient(#eee, #056868);
  			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
  			color: #056868;
			&:nth-of-type(1){
				font-family: 'Lobster', cursive;
			}
			&:nth-of-type(2){
				font-family: 'Orbitron', sans-serif;
			}
			&:nth-of-type(3){
				font-family: 'Oswald', sans-serif;
			}
			&:nth-of-type(4){
				font-family: 'Gloria Hallelujah', cursive;
			}
			&:nth-of-type(5){
				font-family: 'Sigmar One', cursive;
			}
			&:nth-of-type(6){
				font-family: 'Bangers', cursive;
			}
			&:nth-of-type(7){
				font-family: 'Alfa Slab One', cursive;
			}
			&:nth-of-type(8){
				font-family: 'Pacifico', cursive;
			}
		}
	}

	>h2{
		font-family: 'Orbitron', sans-serif;
		font-size:40px;
		color:#056868;
		text-align:center;
		margin-top: -5%;
	}
}