section[role="equipo"]{
	height: 33em;
	padding-bottom: 2%;
	@include responsive(768px, 979px){
		height: auto;
	}
	>div{
		color: white;
	  	display: inline-block;
	  	vertical-align: top;
	  	width: calc(33.3% - 2px);
	  	height: 25em;
	  	padding: 0px;
	  	margin: 1px;
	  	transition: all 0.5s ease;

	  	@include responsive(768px, 979px){
	  		display: block; 
	  		width: 100%;
	  		height: auto;
	  		transition: all 0s ease;
	  		margin-bottom: -12%;

	  		padding-top: 0px !important;
	  		margin-top: 0px;
  			padding-bottom: 0px !important;
			
			>img{
				&.foto{
					width: 100% !important;
				}

				&.bubble{
					opacity: 0 !important;
				}
			}

			.datos{
				width: 20% !important;
			}

	  	}

		// Animación
		&:hover{
			padding-top: 50px;
  			padding-bottom: 0px;
			>img{
				&.foto{
					width: 80%;
				}

				&.bubble{
					opacity: 1;
				}
			}

			.datos{
				width: 20%;
			}
		}
		
		>img{

			&.foto{
				width:100%; //80
				display: inline-block;
				vertical-align: top;
				transition: all 0.5s ease;
			}

			&.bubble{
				position: relative;
  				top: -355px;
  				left: 267px;
				width: 132px;
				opacity: 0;
				transition: all 0.5s ease;
			}
		}

		.datos{
			width:0px; //20
			overflow: hidden;
			height: 226px;
			background: #2CA599;
			display: inline-block;
			vertical-align: top;
			transition: all 0.5s ease;

			@include responsive(768px, 979px){
				display: none;
			}

			>a{
				text-decoration: none;
  				display: block;
  				text-align: center;
  				color: white;
  				margin-top: 20px;
			}
		}

		>p{
			font-family: 'Montserrat', sans-serif;
			background: #2CA599;
			display: block; 
			text-align: center;
			width: 90%;
			margin: 0px;
  			padding: 5%;
  			margin-top: 15px;

  			@include responsive(768px, 979px){
  				padding: 3% 5%;
				font-size: 40px;
				margin-top: 0px;
				text-align: right;
  			}

  			>a{
  				display: none;

				@include responsive(768px, 979px){
					display: inline-block; 
					text-decoration: none; 
					color: white;
					>i{
  						font-size: 1em !important;
  					}
				}	
  			}
		}
	}
}